html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #e8de86;
  font-family: 'Rock Salt', cursive;
}

/* Main Container */
.wrap {
  /*position: relative;*/
  margin: 25px 50px 0px 50px;
  padding: 0 10px;
  background: #fcf6c2;
  overflow: auto;
}

/* Nav Bar */
.nav-bar-title {
  float: left;

}
.nav-bar li {
  float: right;
  display: inline;
  list-style: none;
  margin: 20px 20px 0 0;
  font-size: 17px;
}

hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Featured Product */
.featured-product img {
  height: 280px;
  display: block;
  margin: 0 auto;
  /*border: 2px solid red;*/
}

.featured-product h2 {
  text-align: center;
 }


 .featured-product h3 {
   text-align: right;
   font-style: italic;
   font-size: 12px;
   margin-right: 20px;
 }

 span {
   font-style: italic;
   font-size: 10px;
 }
/* Summary */
.summary {
  float: left;
  width: 50%;
  margin-top: 20px;
  padding: 0 10px;
  font-size: 12px;
  /*border: 2px solid green;*/
}

/* Table */
table {
  float: right;
  margin-top: 40px;
  width: 50%;
  font-size: 14px;
  /*border: 2px solid red;*/
}

th {
  height: 40px;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
/* Gallery */
.gallery {
  float: left;
  margin-top: 20px;
  width: 100%;
  /*border: 2px solid blue;*/
}

.gallery h3 {
  text-align: center;
}

.gallery img {
  height: 100px;
  width: auto;
}
